/*
    0. Normalizando
*/

* {
    margin: 0;
} 


/*
    1. Etiquetas
*/

body {
    /* Propiedad: valor */
}

header {
    background: white;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}

header figure{
    display: inline-block;
    width: 30%;
    margin-right: 15%;
    background: yellow;
}

header nav{
    display: inline-block;
    background-color:#cf142b !important; 
}

footer{
    background-color: #00247d;
}

/*
    2. Ids
*/
/* cada que ocupemos un hash (ID), es buena practica ligarlo al componente inmediato */
section#galeriaUno {
    background-color: #E8E8E8;
    width: 100%;
}

.column{
    margin-bottom: 10px;
}

div.inner{
    padding: 10px;
    border: solid 1px #cccccc;
    background: white;
}

div.inner figcaption{
    font-style: italic;
}

.column img{
    width: 100%;
    height: auto;
}









header section{
    display: inline-block;
    background: blueviolet;
    text-align: right;
}

header figure h1{
    font-size: 2em;
    text-align: center;
    color:white;
    padding: 10px;
}

header section input{
    height: 20px;
    width: 45%;
    border: 0;
}

header section button{
    height: 24px;
    background: #66adec;
    color: white;
    border: none;
}


h1, h2, p {
    color: white;
}


header nav ul li {
    list-style: none;
}



section#galeriaUno figure{
    width: 30%;
    display: inline-block;
}

section#galeriaUno figure img{
    width: 100%;
}

/*
    3. Clases
*/
 section.mainBlock{
    display: block;
    background-color: wheat;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
} 

.fotos{
   width: 50%; 
}

/* Media Queries */
@media screen and (min-width: 0px) and (max-width: 576px){
    header figure{
        width: 30%;
        background: brown;
    }
    header figure h1{
        font-size: 1em;
    }
    section#galeriaUno figure{
        width: 100%;
        display: inline-block;
    }    
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    header figure{
        width: 30%;
        background: mediumseagreen;
    }
    header figure h1{
        font-size: 1.2em;
    }
    section#galeriaUno figure{
        width: 45%;
        display: inline-block;
    }     
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    section#galeriaUno figure{
        width: 45%;
        margin-right: 5%;
        display: inline-block;
    }    
}

@media screen and (min-width: 992px) {
    section#galeriaUno figure{
        width: 30%;
        display: inline-block;
    }    
}


nav > ul {
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 .75rem;
  }